

#inicio{
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 200px ;
    margin: 50px ;
    width: 100%;
    grid-template-rows: max-content;
    grid-template-columns: max-content max-content;
  }
  
  #inicio__img{
    width: 200px;
    height: 200px;
  
    border-radius: 100%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  #inicio__titulo{
    display: flex;
    flex-direction: column;
  }
  
  #inicio__h2{
    padding-top: 5px;
    width:  400px;
    color: var(--letraSecundario);
  
  }
  #inicio__h3{
    padding-top: 5px;
    width:  400px;
  }